<ui5-card>
  <ui5-card-header title-text="Nueva tarea"></ui5-card-header>

  <div class="form-content">
    <div class="form-controls">
      <ui5-label>Tarea</ui5-label>
      <ui5-input style="width: 100%" placeholder="Lavar los platos"></ui5-input>
    </div>

    <div class="form-controls">
      <ui5-label>Fecha</ui5-label>
      <ui5-date-picker></ui5-date-picker>
    </div>

    <div class="form-controls">
      <ui5-button design="Emphasized">Guardar</ui5-button>
    </div>
  </div>
</ui5-card>
